<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchHarbour</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css')}}">
</head>
<body>
    <div class="header" background-image="url(static\images\background.jpg)" >
        <nav>
            <img src="{{ url_for('static', filename='images/Watchharbour Logo crop.jpg')}}" class="logo">
            <div>
                <button><a href="{{ url_for('login')}}">Log In</a></button>
                <button><a href="{{ url_for('register')}}">Sign Up</a></button>
            </div>
        </nav>
        <div class="header-content">
            <h1>Watch Harbour</h1>
            <h3>Your very own binge destination with personalized recommendations and a Binge Diary!</h3>
            <form class="email-signup" action="{{ url_for('get_started') }}" method="POST">
                <input type="text" placeholder="Username" name="username" id="username" required>
                <button type="submit">Get Started</button>
            </form>
        </div>
    </div>
    <div class="features">
        <div class="row">
            <div class="text-col">
                <h2>About Us</h2>
                <p>You can choose movies, TV shows available across all OTT platforms for the best movie recommendations for your next binge session.</p>
            </div>
            <div class="img-col">
                <img src="" alt="image of dashboard">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="img-col">
                <img src="" alt="image of search panel on dashboard">
            </div>
            <div class="text-col">
                <h2>Features</h2>
                <p>Get latest recommendations, maintain a binge diary and review movies and TV shows.</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="faq">
        <h2>Frequently Asked Questions</h2>
        <ul class="accordion">
            <li>
                <input type="radio" name="accordion" id="first">
                <label for="first">What is Watch Harbour?</label>
                <div class="content">
                    <p>Watch Harbour is a binge platform that provides you with movies and TV shows recommendations based on your watch list.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="second">
                <label for="second">Is Watch Harbour free?</label>
                <div class="content">
                    <p>Watch Harbour is absolutely free of cost to provide you with the best of the recommendations.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="third">
                <label for="third">Can we find recommendations for TV shows too?</label>
                <div class="content">
                    <p>Watch Harbour provides recommendations for both, movies as well as TV shows.</p>
                </div>
            </li>
        </ul>
        <div class="footer">
            <h2>Questions? call +91 70399 65165</h2>

            <div class="row">
                <div class="col">
                    <a href="#">FAQ</a>
                    <a href="#">Investor Relations</a>
                    <a href="#">Privacy</a>
                    <a href="#">Speed Test</a>
                </div>
                <div class="col">
                    <a href="#">Help Center</a>
                    <a href="#">Jobs</a>
                    <a href="#">Cookies Preferences</a>
                    <a href="#">Legal Notices</a>
                </div>
                <div class="col">
                    <a href="#">Account</a>
                    <a href="#">Ways to surf</a>
                    <a href="#">Corporate Information</a>
                    <a href="#">Only on Watch Harbour</a>
                </div>
                <div class="col">
                    <a href="#">Media Center</a>
                    <a href="#">Terms of Use</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>