<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body id="login">
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                        <div class="input-group">
                            <div class="input-icon">
                                <span class="input-group-text"><i class='bx bxs-user'></i></span>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            
                        </div>
                    <input type="'text" class="input" name="username" placeholder="Username" required="required" value="{{request.form.username}}">
                    <span class="input-group-text"><i class='bx bxs-user'></i></span>
                </div>
                <div class="form-group">
                    <input type="password" class="input" name="password" placeholder="Password" required="required" value="{{request.form.password}}">
                    <span class="input-group-text"><i class='bx bxs-lock-open-alt'></i></span>
                </div>
            </fieldset>
            <div class="btn">
                <button type="submit" class="btn btn-outline-info">Login</button>
            </div>
        </form>
        <div id="redirect">
            <small>
                Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now!</a>
            </small>
        </div>
    </div>
</body>
</html>
