*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #00001f;
    background-size: cover;
    background-position: center;
}

#login, #register, #forgot_password{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(25px);
    color:azure;
    border-radius: 12px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: azure;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: azure;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: azure;
    margin-right: 3px;
}

.remember-forgot a{
    color:azure;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width:100%;
    height: 45px;
    background: azure;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600; 
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: azure;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}
  
.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}
  
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 10px 100px;
    background: #b874e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
 
.logo{
    font-size: 2em;
    color: azure;
    user-select: none;
}
 
.navigation a{
    position: relative;
    font-size: 1.1em;
    color:azure;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
 
.navigation a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: azure;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
 
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
 
.navigation .btnLogin-popup{
    /* width: 75px;
    height: 25px; */
    background: transparent;
    /* border: 2px solid azure;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: azure;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    text-align: justify; */
}

.navigation .btnLogin-popup a{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid azure;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: azure;
    font-weight: 500;
    text-align: justify;
    box-sizing: content-box;
}
 
.navigation .btnLogin-popup:hover{
    background: azure;
    color: #162938
}

.navigation .btnLogin-popup a:hover{
    color: #162938
}

.button a{
    width: 200px;
    height: 150px;
    background: transparent;
    border: 2px solid azure;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: azure;
    font-weight: 500;
    text-align: justify;
    /* box-sizing: content-box; */
    box-sizing: border-box;
}